.App {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.App_body {
  display: flex;
  flex: 1 1 auto;
  width: 100%;
}

.App_footer {
  height: 85px;
}