.ChampionMatchups {
    /* display: flex; */
    font-family: "Tajawal", sans-serif;
    font-size: 12px;
    color: #ccbe91;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    width: 1400px;
}

/* active champion matchups */

.matchups {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid #937341;
    padding: 50px 0px;
}

.championMatchup_activeChampionGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: filter 0.2s ease;
}

.championMatchup_activeChampionGroup:hover {
    filter: brightness(1.2);
}

.championMatchup_activeChampionBanner {
    border: 1px solid #ccbe91;
    width: 274px;
    height: 499px;
    transform: scale(0.75);
}

.championMatchup_activeChampionName {
    font-family: "Lusitana", sans-serif;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#9f814a,#7e6234);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.championMatchupsColumn {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 250px;
}

.championMatchupsColumnTitle {
    font-size: 26px;
    letter-spacing: 0.15em;
    margin-bottom: 10px;
}

.championMatchupsGroup {
    display: flex;
    align-items: center;
    margin: 10px 0px;
}

.championMatchupsInfoGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-left: 10px;
}

/* champion matchup icons */

.championMatchupsIcons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.championMatchupsIconsRow {
    display: flex;
}

.championMatchupsIconGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin: 5px 0px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.championMatchupsIconGroup:hover {
    filter: brightness(1.5);
    transform: scale(1.2);
}

.championMatchupsIcon {
    border: 1px solid #ccbe91;
    width: 50px;
}

.championMatchupsIconName {
    margin-top: 7.5px;
}