.Champions {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    border-top: 1px solid #ccbe91;
    border-bottom: 1px solid #ccbe91;
    width: 100%;
    height: 100%;
}

.championsSortMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Tajawal", sans-serif;
    border-bottom: 1px solid #ccbe91;
    width: 100%;
}

.championsSortPrimaryOptions, .championsSortSecondaryOptions {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    width: 1200px;
}

.championsSortPrimaryOptions {
    height: 50px;
}

.championsSortPrimaryText, .championsSortPrimaryTextMedium, .championsSortPrimaryTextLarge {
    font-size: 20px;
    letter-spacing: 0.15em;
    color: #ccbe91;
    width: 150px;
}

.championsSortPrimaryTextMedium {
    width: 300px
}

.championsSortPrimaryTextLarge {
    width: 450px;
}

.championsSortSecondaryOptions {
    height: 150px;
}

.championsSortSecondaryGroup, .championsSortSecondaryGroupMedium, .championsSortSecondaryGroupLarge {
    display: flex;
    flex-flow: column wrap;
    width: 150px;
    height: 100%;
}

.championsSortSecondaryGroupMedium {
    width: 300px;
}

.championsSortSecondaryGroupLarge {
    width: 450px;
}

.championsSortSecondaryText {
    font-size: 14px;
    letter-spacing: 0.075em;
    color: #f1e6d2;
    text-transform: uppercase;
    padding-bottom: 2px;
    width: 150px;
    cursor: pointer;
}

.championsSortSecondaryText:hover {
    color: #cd2626 !important;
}

.championSortBottomRow {
    display: flex;
}

.championSearch {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    width: 300px;
}

.championSearch #searchBar {
    background: #000000;
    border: none;
    font-family: "Tajawal", sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ccbe91;
    text-align: center;
    padding: 0px 20px;
    height: 40px;
    width: 400px;
}

.championSearch #searchBar:focus {
    outline: none;
}

.championSearch #searchBar::placeholder {
    color: #ccbe91;
}

.championDisplayType, .championMenuReset {
    display: flex;
    align-items: flex-end;
    padding-bottom: 10px;
    width: 150px;
}

.championsGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../images/runeterra_map.png) no-repeat;
    background-position: 0px -30px;
    background-size: 960px 600px;
    width: 1200px;
    min-height: 500px;
}

.championsLabel {
    margin: 50px 0;
    background: transparent;
}

.championsLabel h1 {
    font-family: "Lusitana", sans-serif;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 15px;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#9f814a,#7e6234);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.championsGallery {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px
}

.championRow {
    display: flex;
    justify-content: center;
    min-width: 1200px;
}

.championIcon {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: 1px solid #937341;
    filter: brightness(0.9);
    margin: 5px;
    width: 100px;
    height: 100px;
    transition-property: transform, border, filter;
    transition-timing-function: ease,linear,ease;
    transition-duration: .2s,.2s,.2s;
}

.championIcon:hover {
    transform: scale(1.2);
    filter: brightness(1.1);
}

.championIconName {
    display: none;
}

.championIcon:hover .championIconName {
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg,rgba(0,10,19,0) 50%,#000a13 100%,#000a13);
    font-family: 'Tajawal', serif;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #f1e6d2;
    text-shadow: 2px 2px #000000;
    padding-top: 75%;
    width: 100%;
}

.noChamps {
    font-family: "Lusitana", sans-serif;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: #ccbe91;
}

.returnToTopButton {
    justify-content: center;
    align-items: center;
    position: fixed;
    background: #ccbe91;
    font-family: "Tajawal", sans-serif;
    font-size: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 60px;
    z-index: 99;
}

.returnToTopButton:hover {
    filter: brightness(1.2);
}