.ChampionCard {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccbe91;
    margin: 20px 10px 0px 10px;
    width: 580px;
    height: 380px;
    transition-property: filter, border;
    transition-timing-function: ease,linear,ease;
    transition-duration: .4s,.4s,.4s;
}

.ChampionCard:hover {
    /* transform: scale(1.05); */
    filter: brightness(1.2);
}

.championArt {
    /* border-bottom: 1px solid #ccbe91; */
    height: 100%;
}

.championNameGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #0a0a0c;
    height: 75px;
}

.championName, .championTitle {
    font-family: "Tajawal", sans-serif;
    font-size: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ccbe91;
}

.championTitle {
    font-size: 12px;
}