.ChampionCardExpandedDetails {
    display: flex;
}

.lore {
    font-family: "Tajawal", sans-serif;
    font-size: 16px;
    letter-spacing: 0.1em;
    /* text-transform: uppercase; */
    color: #ccbe91;
    margin: 20px;
}