.ChampionCardExpandedMenu {
    display: flex;
    width: 100%;
    height: 50px;
}

/* active = no bottom border */
.cardMenuButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
    border: 1px solid #ccbe91;
    border-top: none;
    font-family: "Tajawal", sans-serif;
    font-size: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ccbe91;
    width: 50%;
    transition: background 0.2s ease;
}

.leftMenuButton, .rightMenuButton {
    border: none;
    border-bottom: 1px solid #ccbe91;
}

.cardMenuButton:hover {
    background: none;
    cursor: pointer;
}

.activeCardTab {
    /* background: #000000; */
    background: none;
    border-bottom: 1px solid transparent;
    color: #ccbe91;
}