.ChampionCardExpanded {
    display: flex;
    flex-direction: column;
    /* background: url(../images/champion_region_bg/Ionia.png); */
    margin: 0px 10px;
    height: 625px;
    transition-property: max-height, filter, border;
    transition-timing-function: linear, ease;
    transition-duration: .4s, .4s;
}

.championCardHidden {
    max-height: 0;
    overflow: hidden;
    border: 1px solid transparent;
    filter: brightness(0);
}

.championCardExpanded {
    overflow: hidden;
    max-height: 1200px;
    border: 1px solid #ccbe91;
    border-top: none;
}