.ChampionCardExpandedDetails {
    display: flex;
    font-family: "Tajawal", sans-serif;
    font-size: 18px;
    /* letter-spacing: 0.1em; */
    /* text-transform: uppercase; */
    color: #ccbe91;
    margin: 20px;
}

.stats {
    display: flex;
    flex-direction: column;
}

.statLine {
    display: flex;
}

.statLabel {
    width: 200px;
}

.stat {
    width: 20px;
}