.Header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
    border-bottom: 1px solid #ccbe91;
    width: 100%;
    height: 85px;
}

.Header a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 150px;
    height: 100%;
}

.logo {
    height: 45px;
    width: 45px;
}

.menuOption {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Tajawal", sans-serif;
    font-size: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ccbe91;
    width: 150px;
    height: 100%;
    transition: all 0.2s ease;
}

.menuOption:hover {
    background: #ccbe91;
    color: #000000;
}