.Header {
    width: 100%;
    background: black;
    margin-bottom: 50px;
}

.headerBanner {
    display: flex;
    background-image: url(../images/header.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0% 45%;
    color: #ffffff;
    height:300px;
}

.headerBanner h1 {
    align-self: center;
}

.headerNav {
    display: flex;
    justify-content: space-around;
    height: 50px;
}

/*nav bar button*/
.headerNav button {
    border: none;
    background: none;
    font-size: 16px;
    width: 100px;
    border-bottom: 2px solid transparent;
}

/*nav bar button text*/
.headerNav button a {
    color: white;
    text-decoration: none;
    align-self: center;
}

/*nav bar button on hover*/
.headerNav button:hover {
    border-bottom: 2px solid #ffbf00;
    font-size: 16px;
    color: #ffbf00;
}

/*nav bar button on hover text*/
.headerNav button:hover a {
    color: #ffbf00;
}

.headerNav a {
    font-size: 16px;
    color: white;
    text-decoration: none;
    text-align: center;
    border-bottom: 2px solid transparent;
    padding-top: 15px;
    width: 100px;
}

.headerNav a:hover, .headerNav a:active {
    border-bottom: 2px solid #ffbf00;
    color: #ffbf00;
}