.ItemCardExpandedDetails {
    overflow-y: scroll;
}

.ItemCardExpandedDetails_textRow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 10px 0px;
}

.Item_intoItems {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.itemTree {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemTreeRowHead {
    display: flex;
    border: 1px solid #937341;
    width: 64px;
    height: 64px;
    transition: 0.2s ease all;
    cursor: pointer;
}

.itemTreeRow {
    display: flex;
    margin: 15px 0px;
    width: 100%;
}

.ItemCard_intoItemsIcon {
    display: flex;
    border: 1px solid #937341;
    width: 64px;
    height: 64px;
    margin: 5px;
    transition: 0.2s ease all;
    cursor: pointer;
}

.ItemCard_intoItemsIcon:hover, .itemTreeRowHead:hover {
    filter: brightness(1.2);
}

.ItemCardExpanded_textRow {
    margin: 15px 0px;
}

unique, aura, active {
    color: white;
}