.Navigation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: transparent url(../images/bg/nav_bg.jpg) center no-repeat;
    border-top: 2px solid #ccbe91;
    border-bottom: 2px solid #ccbe91;
    padding-top: 10%;
    padding-bottom: 10%;
    width: 100%;
    height: 100%;
}

.Navigation a {
    text-decoration: none;
}

.navItemBorder {
    display: flex;
    background: #1d282c;
    filter: brightness(0.9);
    border: 1px solid #000000;
    transition: transform;
    transition-timing-function: ease,linear,ease;
    transition-duration: .2s, .2s, .2s;
    padding: 1px;
    width: 225px;
    height: 500px;
}

.navItemBorder:hover {
    background: linear-gradient(180deg,#f1e6d2 0,#634b25);
    filter: brightness(1.2);
    transform: scale(1.05);
}

.navItemContent {
    display: flex;
    align-items: flex-end;
    border: 2px solid black;
    width: 100%;
}

.navItemContent#navItemItems {
    background: url(../images/nav_items/items.png);
}

.navItemContent#navItemSummoners {
    background: url(../images/nav_items/summoners.png);
}

.navItemContent#navItemChampions {
    background: url(../images/nav_items/champions.png);
}

.navItemText {
    background: linear-gradient(180deg,rgba(0,10,19,0) 0,#000a13 100%,#000a13);
    text-align: center;
    font-family: 'Lusitana', serif;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 4px;
    color: #f1e6d2;
    text-shadow: 2px 2px #000000;
    padding-top: 75%;
    padding-bottom: 20px;
    width: 100%;
}

/* .navItemText {
    text-align: center;
    font-family: 'Lusitana', serif;
    letter-spacing: .075em;
    color: #f1e6d2;
    font-size: 22px;
    width: 100%;
} */