.Search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
}

.alert {
    font-family: "Tajawal", sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #f1e6d2;
    text-shadow: 2px 2px #000000;
    height: 28px;
}

.Search > form {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
    border-radius: 2px;
}

.Search #searchBar {
    background: none;
    border: none;
    font-family: "Tajawal", sans-serif;
    font-size: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ccbe91;
    text-align: center;
    padding: 0px 20px;
    width: 300px;
    height: 40px;
}

.Search #searchBar:focus {
    outline: none;
} 

.Search #searchBar::placeholder {
    color: #ccbe91;
}

/*change search text to icon*/
.Search #searchButton {
    background: #ffffff;
    border: 1px solid #ffffff;
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.19);
    font-family: "Tajawal", sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 16px;
    padding: 5px 20px;
    cursor: pointer;
}