.Search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
}

.alert {
    color: #ccbe91;
    text-shadow: 2px 2px #000000;
    height: 28px;
}

.Search > form {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
    border-radius: 2px;
}

.Search #searchBar {
    background: #000000;
    border: 1px solid #ffffff;
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.19);
    font-size: 20px;
    color: #ccbe91;
    padding: 5px 20px;
    height: 40px;
    width: 30%;
}

.Search #searchBar::placeholder {
    color: #ccbe91;
}

/*change search text to icon*/
.Search #searchButton {
    background: #ffffff;
    border: 1px solid #ffffff;
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.19);
    font-size: 16px;
    padding: 5px 20px;
    cursor: pointer;
}